/* LAYOUTS */

* {
    box-sizing: border-box;
}
body {
    color: white;
    font-family: Roboto, 'sans-serif';
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    "head head head head head head"
    "nav sect sect sect sect sect"
    "nav sect sect sect sect sect"
    "nav sect sect sect sect sect"
    "nav sect sect sect sect sect"
    "nav sect sect sect sect sect"
    "nav sect sect sect sect sect"
    "nav sect sect sect sect sect"
    "nav sect sect sect sect sect"
    "nav sect sect sect sect sect"
    "nav sect sect sect sect sect"
    "nav sect sect sect sect sect"
    "nav sect sect sect sect sect"
    "nav sect sect sect sect sect";
}

header {
    grid-area: head;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to top, #232526 30%, #414345 100%);
    color: white;
    font-weight: 700;
}
header h3 {
    margin-right: 1em;
}
.header-logo{
    width: 150px;   
}

#hero-section {
    background-image: linear-gradient(to bottom, rgb(29, 96, 101), rgb(18, 18, 34));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

#hero-container{    
    background: linear-gradient(to top, #232526 30%, #414345 100%);
    display: flex;
    align-items: center;
    border: 1px solid gray;
    width: 900px;
    height: 70vh;
    padding: 2em 5em;
    border-radius: 10px;
    overflow: auto;
}

nav {
    background: linear-gradient(to top, #232526 1%, #414345 30%);
    grid-area: nav;
    padding: 1em;
    gap: 3em;
    display: flex;
    flex-direction: column;
    color: white;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: sect;
}

.message-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: .5em;
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 5px;
    padding: 1em;
    font-weight: 700;
    height: 50px;
    width: 290px;
    border: 1 solid black;
}

/* NAVBAR */

.nav-btn {
    font-size: .8rem;
    font-weight: 700;
    margin-left: .5em;
    border: none;
    background-color: transparent;
    color: white;
}
.nav-container {
    display: flex;
    width: 100%;
    background-color: transparent;
    padding: 1em;
    cursor: pointer;
}
.nav-container:hover, 
.nav-container:focus {
    background-color: gray;
}

/* ADD PRODUCT FORM */

form {
    min-width: 300px;
    display: flex;
    gap: 3em;
}
.form-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    max-width: 300px;
}

.units-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}
.units-container label {
    display: block;
    margin-bottom: 1em;
}
.units-container input {
    width: 100%;
}

textarea {
    resize: none;
    height: 93px;
}

.confirm-add-btn {
    padding: .5em 1em;
    font-weight: 700;
    background-color: #009432;
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: auto;
}   
.confirm-add-btn:hover, 
.confirm-add-btn:focus {
    background-color: green;
}

/* ALL PRODUCTS */

.products-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.products-container {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.actions-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search-container {
    position: relative;
}

.search-container i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1em;
    color: #ccc;
}

.search-product {
    width: 100%;
    padding: 1em 0 1em 3em;
    border-radius: 10px 10px 0 0;
}


/* DELETE MODAL */

.delete-dialog {
    background-image: linear-gradient(to bottom, rgb(29, 96, 101), rgb(18, 18, 34));
    border: 1px solid black;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    padding: 1em 1.5em;
    width: 350px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    top: 7%;
    left: 15%;
}

.dialog-actions {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
}

.delete-dialog button {
    padding: 0.5em 3em;
    border: none;
    border-radius: 4px;
    margin-bottom: 1em;
}
.yes-delete-btn {
    background-color: #f44336;
}
.yes-delete-btn:hover {
    background-color: #b71c1c;
}

/* UPDATE MODAL */

.product-dialog {
    padding: 1em;
    font-size: .8rem;
}

.product-dialog .form-container {
    gap: .3em;  
}

.product-dialog .units-container label {
    margin:0;
    padding: 0.3em 0;
}

.product-dialog button {
    padding: 0.5em 3.5em;
    border: none;
    border-radius: 4px;
    margin-top: auto;
}

.product-dialog .dialog-actions {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    margin-top: auto;
}

dialog {
    background-image: linear-gradient(to bottom, rgb(29, 96, 101), rgb(18, 18, 34));
    border: 1px solid black;
    color: white;
    font-weight: 700;
    border-radius: 8px;
    padding: .5em 1.5em;
    top: 7%;
    left: 15%;
}


/* TABLE */

.products-table {
    border-collapse: collapse;
    background: linear-gradient(to top, #232526 1%, #414345 30%);
}

th, td {
    border: 1px solid black;
    padding: .3em;
  }

/* ACTION BUTTONS */   

button {
    cursor: pointer;
}

.edit-btn, .delete-btn, 
.yes-delete-btn, 
.yes-update-btn {
    padding: .3em 1em;
    margin: 0 .3em;
    color: white;
    border: none;
    border-radius: 3px;
}

.edit-btn, .yes-update-btn {
    background-color: #009432;
}
.edit-btn:hover,
.edit-btn:focus, 
.yes-update-btn:hover,
.yes-update-btn:focus {
    background-color: green;
}

.delete-btn {
    background-color: #f44336; /* Red */
}
.delete-btn:hover,
.delete-btn:focus, 
.yes-delete-btn:hover{
    background-color: #b71c1c;
}

.add-category-btn, .add-product-btn { 
    align-self: self-end;
    margin-right: 14.5em;
    display: none;
    padding: .5em 1em;
    font-weight: 700;
    background-color: #009432;
    color: white;
    border-radius: 5px;
    border: none;
}