/* LAYOUTS */

* {
    box-sizing: border-box;
}
body {
    color: white;
    font-family: "Roboto", 'sans-serif';
    margin: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    "head head head head head head"
    "nav sect sect sect sect sect"
    "nav sect sect sect sect sect"
    "nav sect sect sect sect sect"
    "nav sect sect sect sect sect"
    "nav sect sect sect sect sect"
    "nav sect sect sect sect sect"
    "nav sect sect sect sect sect"
    "nav sect sect sect sect sect"
    "nav sect sect sect sect sect"
    "nav sect sect sect sect sect"
    "nav sect sect sect sect sect"
    "nav sect sect sect sect sect"
    "nav sect sect sect sect sect";
}

header {
    grid-area: head;
    height: 10vh;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to top, #232526 30%, #414345 100%);
    color: white;
    font-weight: 700;
}
header h3 {
    margin-right: 1em;
}
.header-logo{
    width: 150px;   
}

#hero-section {
    background-image: linear-gradient(to bottom, rgb(29, 96, 101), rgb(18, 18, 34));
    display: flex;
    flex-direction: column;
    padding: 0 0 2.5em 0;
    gap: 1em; 
    min-height: 90vh;
}

#hero-container{  
    background: linear-gradient(to top, #232526 30%, #414345 100%);
    display: flex;
    align-items: center;
    border: 1px solid gray;
    width: 800px;
    height: 65vh;
    border-radius: 10px;
    overflow: auto;
}

nav {
    background: linear-gradient(to top, #232526 1%, #414345 30%);
    grid-area: nav;
    padding: 3em 0em;
    gap: 3em;
    display: flex;
    flex-direction: column;
    color: white;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: sect;
}

.message-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: .5em;
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 5px;
    padding: 1em;
    font-weight: 700;
    height: 50px;
    width: 290px;
    border: 1 solid black;
}

/* NAVBAR */

.nav-btn {
    font-size: .8rem;
    font-weight: 700;
    margin-left: .5em;
    border: none;
    background-color: transparent;
    color: white;
}
.nav-container {
    display: flex;
    width: 100%;
    padding: 1em 2.5em;
    cursor: pointer;
    border-radius: 1px;
}
.nav-container:hover, 
.nav-container:focus {
    background-color: gray;
}

.nav-container.active {
    background: linear-gradient(to top, #232526 30%, #414345 100%);
    color: white;
    border-left: 3px solid white; 
}

/* ADD PRODUCT FORM */

form {
    min-width: 300px;
    display: flex;
    gap: 3em;
}
.form-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    max-width: 300px;
}

.units-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}
.units-container label {
    display: block;
    margin-bottom: 1em;
}
.units-container input {
    width: 100%;
}

textarea {
    resize: none;
    height: 93px;
}

.confirm-add-btn {
    padding: .5em 1.5em;
    background-color: #009432;
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: auto;
}   
.confirm-add-btn:hover, 
.confirm-add-btn:focus {
    background-color: green;
}

/* ALL PRODUCTS */

.products-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.products-container {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.actions-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search-container {
    position: relative;
}

.search-container i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1em;
    color: #ccc;
}

.search-product {
    width: 100%;
    padding: 1em 0 1em 3em;
    border-radius: 10px 10px 0 0;
}

/* CSV PAGE */

.file-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto 5em auto;
    height: 40%;
    width: 50%;
    border: 3px dashed gray;
    border-radius: 10px;
    /* cursor: pointer; */
}
/* .file-container:hover {
    background: linear-gradient(to top, #232526 30%, #414345 100%);
} */
.csv-section {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.csv-actions-container {
    padding: 1em;
    width: 100%;
    background: linear-gradient(to top, #232526 30%, #414345 100%);
    margin-bottom: auto;
    display: flex;
    justify-content: space-between;
}
.csv-btn-container {
    display: flex;
    gap: 2em;
}
.path-input-container {
    width: 80%;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}
#file-path {
    width: 100%;
    padding: .5em;
    border-radius: 5px;
    border: 1px solid gray;
    text-align: center;
}

.fa-cloud-arrow-up {
    font-size: 3em;
    color: gray;
}
.fa-brands {
    margin-left: .5em;
}

.disabled {
    background-color: #ccc;      
    color: #666;                 
    cursor: not-allowed;         
    opacity: 0.3;                
    pointer-events: none;        
  }

.update-btn {
    padding: .7em 1em;
    font-weight: 600;
    background-image: linear-gradient(to bottom, rgb(29, 96, 101), rgb(18, 18, 34));
    color: white;
    border-radius: 5px;
    border: none;
}
.update-btn:hover {
    background: linear-gradient(to top, #272f34 5%, #1e1f20 100%);
}
.succes-btn{
    padding: .5em 1.5em;
    font-weight: 600;
    background-color: #009432;
    color: white;
    border-radius: 5px;
    border: none;
}
.succes-btn:hover {
    background-color: green;
}

.progress-bar-container {
    height: 50px;
    width: 200px;
    margin-top: 10px;
    display: none;
}

progress {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: #f3f3f3;
    overflow: hidden;
}
#progress-text {
    margin-top: .3em;
    text-align: center;
}
#file-progress {
    width: 100%;
}
#upload-complete {
    display: none;
}
#upload-complete button {
    margin-left: 1em;
}


/* DELETE MODAL */

.delete-dialog {
    background-image: linear-gradient(to bottom, rgb(29, 96, 101), rgb(18, 18, 34));
    border: 1px solid black;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    padding: 1em 1.5em;
    width: 350px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    top: 7%;
    left: 15%;
}

.dialog-actions {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
}

.delete-dialog button {
    padding: 0.5em 3em;
    border: none;
    border-radius: 4px;
    margin-bottom: 1em;
}
.yes-delete-btn {
    font-weight: 600;
    background-color: #f44336;
}
.yes-delete-btn:hover {
    background-color: #b71c1c;
}

/* UPDATE MODAL */

.product-dialog {
    padding: 1em;
    font-size: .8rem;
}

.product-dialog .form-container {
    gap: .3em;  
}

.product-dialog .units-container label {
    margin:0;
    padding: 0.3em 0;
}

.product-dialog button {
    padding: 0.5em 3.5em;
    border: none;
    border-radius: 4px;
    margin-top: auto;
}

.product-dialog .dialog-actions {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    margin-top: auto;
}

dialog {
    background-image: linear-gradient(to bottom, rgb(29, 96, 101), rgb(18, 18, 34));
    border: 1px solid black;
    color: white;
    font-weight: 700;
    border-radius: 8px;
    padding: .5em 1.5em;
    top: 10%;
    left: 15%;
}


/* TABLE */

.products-table {
    border-collapse: collapse;
    background: linear-gradient(to top, #232526 1%, #414345 30%);
}

th, td {
    border: 1px solid black;
    padding: .3em;
  }

/* ACTION BUTTONS */   

button {
    cursor: pointer;
}

.edit-btn, .delete-btn, 
.yes-delete-btn, 
.yes-update-btn {
    padding: .3em 1em;
    margin: 0 .3em;
    color: white;
    border: none;
    border-radius: 3px;
}

.edit-btn, .yes-update-btn {
    background-image: linear-gradient(to bottom, rgb(29, 96, 101), rgb(18, 18, 34));
}
.edit-btn:hover,
.yes-update-btn:hover {
    background: linear-gradient(to top, #232526 30%, #414345 100%);
}

.delete-btn {
    background-color: #f44336; /* Red */
}
.delete-btn:hover,
.delete-btn:focus, 
.yes-delete-btn:hover{
    background-color: #b71c1c;
}

.add-category-btn, .add-product-btn { 
    align-self: self-end;
    margin: 0 18.5em 0 0;
    display: none;
    padding: .5em 1em;
    font-weight: 700;
    background-color: #009432;
    color: white;
    border-radius: 5px;
    border: none;
}